dist/partials/home.html
<div class="container-home"><div class="progress"><div role="progressbar" style="width: {{ progress.percent }}%;" class="progress-bar">{{ progress.percent }}%</div></div><form class="form-horizontal"><div class="form-group"><label for="token" class="col-sm-3 control-label">Twitter Token</label><div class="col-sm-9"><input id="token" type="text" placeholder="Twitter Token" data-ng-model="$storage.token" class="form-control"/></div></div><div class="form-group"><label for="min" class="col-sm-3 control-label">Min code</label><div class="col-sm-9"><input id="min" type="number" placeholder="0" min="0" max="9999" data-ng-model="$storage.min" class="form-control"/></div></div><div class="form-group"><label for="number" class="col-sm-3 control-label">Number</label><div class="col-sm-9"><input id="number" type="number" placeholder="100" min="1" max="10000" data-ng-model="$storage.number" class="form-control"/></div></div><div class="form-group"><label for="minTime" class="col-sm-3 control-label">Minimum time between 2 tweets in ms</label><div class="col-sm-9"><input id="minTime" type="number" placeholder="0" data-ng-model="$storage.minTime" class="form-control"/></div></div><div class="form-group"><label for="maxTime" class="col-sm-3 control-label">Maximum time between 2 tweets in ms</label><div class="col-sm-9"><input id="maxTime" type="number" placeholder="50000" data-ng-model="$storage.maxTime" class="form-control"/></div></div><div class="form-group"><label for="maxTime" class="col-sm-3 control-label">Task concurrency</label><div class="col-sm-9"><input id="maxTime" type="number" placeholder="1" data-ng-model="$storage.concurrency" class="form-control"/></div></div><div class="form-group"><label for="clueNum" class="col-sm-3 control-label">Clue number</label><div class="col-sm-9"><input id="clueNum" type="number" placeholder="1" data-ng-model="$storage.clueNum" class="form-control"/></div></div><div class="form-group"><label for="cluePos" class="col-sm-3 control-label">Clue position</label><div class="col-sm-9"><input id="cluePos" type="number" placeholder="1" data-ng-model="$storage.cluePos" class="form-control"/></div></div><div class="valid"><button data-ng-click="go()" class="btn btn-default">Go!</button></div></form></div>

src/views/partials/home.jade
.container-home
  .progress
    .progress-bar(role='progressbar', style='width: {{ progress.percent }}%;')
      | {{ progress.percent }}%

  form.form-horizontal
    .form-group
      label.col-sm-3.control-label(for='token') Twitter Token
      .col-sm-9
        input#token.form-control(type='text' placeholder="Twitter Token" data-ng-model="$storage.token")
    .form-group
      label.col-sm-3.control-label(for='min') Min code
      .col-sm-9
        input#min.form-control(type='number' placeholder="0" min="0" max="9999" data-ng-model="$storage.min")
    .form-group
      label.col-sm-3.control-label(for='number') Number
      .col-sm-9
        input#number.form-control(type='number' placeholder="100" min="1" max="10000" data-ng-model="$storage.number")
    .form-group
      label.col-sm-3.control-label(for='minTime') Minimum time between 2 tweets in ms
      .col-sm-9
        input#minTime.form-control(type='number' placeholder="0" data-ng-model="$storage.minTime")
    .form-group
      label.col-sm-3.control-label(for='maxTime') Maximum time between 2 tweets in ms
      .col-sm-9
        input#maxTime.form-control(type='number' placeholder="50000" data-ng-model="$storage.maxTime")
    .form-group
      label.col-sm-3.control-label(for='maxTime') Task concurrency
      .col-sm-9
        input#maxTime.form-control(type='number' placeholder="1" data-ng-model="$storage.concurrency")
    .form-group
      label.col-sm-3.control-label(for='clueNum') Clue number
      .col-sm-9
        input#clueNum.form-control(type='number' placeholder="1" data-ng-model="$storage.clueNum")
    .form-group
      label.col-sm-3.control-label(for='cluePos') Clue position
      .col-sm-9
        input#cluePos.form-control(type='number' placeholder="1" data-ng-model="$storage.cluePos")
    .valid
      button.btn.btn-default(data-ng-click="go()") Go!
